body{
    margin: 0;
    padding: 0;
    height: 100vh;

    display: grid;
    grid-template-rows: 5fr 95fr;
    grid-template-columns: 80fr 20fr;

    grid-template-areas: 
    "header header"
    "content sidebar";
}

.header{
    /* width: 100%;
    height: 5%; */
    background-color: #A67A5B;
    padding: 0px 10px;

    display: flex;
    align-items: center;

    grid-area: header;
}

.MyLibrary {
    font-size: 30px;
    margin-right: auto;
}

.btn{
    /*border: none;*/
    /*background: none;*/
    margin-right: 20px;

}

.library{
    /* width: 100%;
    min-height: 95%; */
    background-color: #D5B895;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;

    grid-area: content;
}

.books{
    width: 200px;
    height: 150px;
    background-color: #FAF0DC;
    margin: 10px;

    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.sidebar{
    padding: 20px;
    background-color: #E8DCB5;

    grid-area: sidebar;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 40px;

    align-items: center;
}

.input{
    border: none;
    outline: none;
    border-bottom: 1px solid;
}

.btnX{
    font-size: 15px;

    width: 20px;
    height: 25px;
    background: none;
    border: none;
    color: black;
}

.btnX:hover{
    /*color:#FF0000;*/
    background-color: #FF00002F;

}

.btnX:active{
    background-color: #FF00006F;
}

.read-Btn{
    width: 200px;
    height: 30px;
    background: none;
    border: none;
    border: 1px  solid #A67A5B;
    color: black;
}

.read-Btn:hover{
    /*color:#FF0000;*/
    background-color: #E8DCB5;

}

.read-Btn:active{
    background-color: #A67A5B;/*#FF00006F;*/
}

.title-btnX{
    width: 100%;
    display: flex;
}

.titleBook{
    margin-right: auto;
}